html {
  font-size: 100%;
  box-sizing: border-box;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #242424;
  background-color: #dedada;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: #7a7878;
  transition: color 250ms ease-in-out;
}
a:hover,
a.active {
  color: #333;
}

.wrapper {
  padding: 1rem;
}

h1 {
  font-weight: 700;
  font-size: 1rem;
  color: rgb(196, 193, 193);
  background-color: #333;
  padding: 0.2em;
  margin: 0;
  line-height: 1;
  display: inline-block;
}
span {
  font-size: 0.8rem;
  color: rgb(184, 181, 181);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 2rem;
  margin: 2rem 0;
}

.gallery__image {
  border: 2rem solid #000;
  height: 30rem;
  object-fit: cover;
  filter: grayscale(95%);
}

.gallery-lightbox__image {
  object-fit: cover;
  height: 60vh;
}

.gallery-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms ease-in;
  opacity: 0;
  pointer-events: none;
}

.gallery-lightbox:target {
  opacity: 1;
  pointer-events: auto;
}

.gallery-lightbox__content {
  width: 80%;
  max-width: 33.25rem;
  padding: 3rem;
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-lightbox__content img {
  filter: grayscale(0%);
}

.close {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: black;
  top: -1rem;
  right: -1rem;
  text-decoration: none;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close::after {
  content: "X";
  color: #fff;
  font-weight: bold;
}
