:root {
  --text: #2c1e02;
  --background: #cdc6c8;
  --secondary: #d8d5d6;
  --accent: #f5b2b2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fdefd3;
    --background: #393234;
    --secondary: #2a2728;
    --accent: #9c1111;
  }
}
html {
  box-sizing: border-box;
  font-size: 100%;
  color-scheme: light dark;
}

*,
:before,
:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  color: var(--text);
  font-weight: 400;
  background-color: var(--background);
  margin: 0;
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}

a:hover,
a.active {
  color: var(--text);
}

h1 {
  color: var(--text);
  background-color: var(--accent);
  padding: 1em;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
}

h1 span {
  font-size: 0.9rem;
  font-weight: 400;
}

footer {
  font-size: 0.8rem;
  margin-top: auto;
}

/* GALLERY */
.gallery {
  --spacer: 2rem;
  --spacer-sm: 0.3rem;
  gap: var(--spacer-sm);
  overscroll-behavior-inline: contain;
  padding: var(--spacer-sm);
  background: var(--secondary);
  grid-auto-columns: 42%;
  grid-auto-flow: column;
  margin: 4rem 0;
  display: grid;
  overflow-x: auto;
}

@media (min-width: 48.75em) {
  .gallery {
    grid-auto-columns: 17%;
    gap: var(--spacer);
    padding: var(--spacer);
  }
  .gallery__item {
    padding: var(--spacer);
  }
  .snaps-inline {
    scroll-padding-inline: var(--spacer);
  }
}

.gallery__item {
  padding: var(--spacer-sm);
  background: var(--text);
  grid-template-rows: min-content;
  display: grid;
}

.gallery__image {
  aspect-ratio: 1/1;
  object-fit: cover;
  inline-size: 100%;

  filter: grayscale(100%);
}

*:focus {
  outline: 4px solid var(--accent);
  outline-offset: 4px;
}

.gallery__item img:hover {
  outline: none;
  filter: grayscale(0);
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--spacer-sm);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* LIGHTBOX */
.gallery-lightbox__image {
  object-fit: cover;
  height: 60vh;
}

.gallery-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms ease-in;
  opacity: 0;
  pointer-events: none;
}

.gallery-lightbox:target {
  opacity: 1;
  pointer-events: auto;
}

.gallery-lightbox__content {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  padding: 2rem;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close::after {
  content: "X";
  color: var(--text);
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  .close::after {
    color: var(--background);
  }
} /*# sourceMappingURL=style.css.map */
